:root {
  --bg: #f1f1f1; 
  --secondary: #7e909a;
  --tertiary: #1C4E80;
}

@media screen and (min-width: 769px) {
  ::-webkit-scrollbar, .REV3g-H9tDt::-webkit-scrollbar {
    width: 8px !important;
  }
   
  ::-webkit-scrollbar-thumb, .REV3g-H9tDt::-webkit-scrollbar-thumb {
    background: #202020 !important;
  }

  ::-webkit-scrollbar-track, .REV3g-H9tDt::-webkit-scrollbar-track {
    background: #c7c7c7 !important;
  }
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  color: var(--bg);
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing img {
  width: 550px;
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tools {
  padding: 25px;
  height: 200px;
  border: 5px solid var(--secondary);
  border-radius: 10px;
  margin: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}